@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "98.css/dist/98.css";

$bg: #008080;
$border-color: #f6f6f6;
$font-family: "Noto Sans";
$font-size: 16px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family, sans-serif;
  font-size: $font-size;
}

.wrapper {
  padding: 5vh 5vw;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $bg;
}

#window-system-monitor,
#window-qbittorrent,
#window-services {
  opacity: 0%;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}

.window {
  margin: 20px;
}

.title-icon {
  width: 16px;
  margin-right: 4px;
}

.title-bar-text {
  font-size: 12px;
  display: flex;
}

.table-view {
  background: #ffffff;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080,
    inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  margin: 0;
  padding: 2px;
}

.torrent-name {
  flex-grow: 3;
}

.torrent-progress {
  flex-grow: 1;
}

.table-view p {
  padding-left: 5px;
  padding-right: 5px;
}

button {
  font-family: $font-family, sans-serif;
  font-size: $font-size;
}

.paused {
  color: gray;
}

.error {
  color: red;
}

.seeding {
  color: green;
}

.downloading {
  color: blue;
}

.system-monitor {
  display: flex;
  flex-direction: row;
}

fieldset {
  margin: 0 10px;
}

// From https://github.com/pedrobonifacio/98.css

.meter {
  height: 20px; /* Can be anything */
  position: relative;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080,
    inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  padding: 4px 4px 3px 4px;
  border: none;
  margin: 1px 0;
  background-color: #ffffff;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.meter > span {
  display: block;
  height: 100%;
  background-color: #000080;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    90deg,
    #000080 40%,
    #ffffff 40%,
    #ffffff 50%,
    #000080 50%,
    #000080 90%,
    #ffffff 90%,
    #ffffff 100%
  );
  background-size: 30px 30px;
}

.monitor-meter {
  height: 200px; /* Can be anything */
  width: 80px;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080,
    inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  padding: 10px 16px;
  border: none;
  background-color: #000000;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  background-size: 10px 10px;
  display: flex;
  flex-direction: column;
}

.monitor-graph {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.monitor-background {
  height: 100%;
  width: 50%;
  background-image: linear-gradient(
    0deg,
    #00f900 40%,
    #000000 40%,
    #000000 50%,
    #00f900 50%,
    #00f900 90%,
    #000000 90%,
    #000000 100%
  );
  background-size: 10px 10px;
  margin: 0 1px;
}

.monitor-meter > span {
  color: #00f900;
  margin-top: 5px;
  text-align: center;
}

.monitor-background > span {
  display: block;
  height: 100%;
  background-color: #00f900;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(
    0deg,
    #006200 40%,
    #000000 40%,
    #000000 50%,
    #006200 50%,
    #006200 90%,
    #000000 90%,
    #000000 100%
  );
  background-size: 10px 10px;
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.service {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service img {
  width: 32px;
  height: 32px;
  margin-bottom: 10px;
}

.service,
.service:visited,
.service:hover {
  color: black;
  text-decoration: none;
}
